body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    padding: 20px; 
    border-radius: 20px;
    border-style: double;
    border-width: 8px;
    border-color: rgb(44, 44, 44);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: 1s; 
}

main:hover {
    box-shadow: 0 0 10px magenta, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta;
    border-color: rgb(255, 0, 255);
}
/*
main p {
    text-align: center;
    width: 75%;
}